hdl/*
hdl/scripts/*
hdl/scripts/*.bat
hdl/scripts/*.sh
!hdl/scripts/
!hdl/ip/
!hdl/components/
!hdl/top.qpf
!hdl/top.qsf
!hdl/top.vhd
!hdl/HPSPlatform.qsys

drivers/**/*.o
drivers/**/*.cmd
drivers/**/*.o.cmd
drivers/**/*.symvers
drivers/**/*.order
drivers/**/*.ko
drivers/**/*.mod.c
drivers/**/.tmp_versions/

user/**/*.o
user/show_ip/show_ip
