.vscode/

drivers/**/*.o
drivers/**/*.d
drivers/**/*.cmd
drivers/**/*.o.cmd
drivers/**/*.symvers
drivers/**/*.order
drivers/**/*.ko
drivers/**/*.mod.c
drivers/**/.tmp_versions/

user/**/*.o
user/show_ip/show_ip

work/
transcript
*.wlf
*~

.qsys_edit/
db/
HPSPlatform/
*.sopcinfo
*.qdf
