hdl/*
!hdl/scripts/
!hdl/ip/
!hdl/components/
!hdl/top.qpf
!hdl/top.qsf
!hdl/top.vhd
!hdl/HPSPlatform.qsys
hdl/scripts/*
hdl/scripts/*.bat
hdl/scripts/*.sh

# Ignore temporary build files
drivers/**/*.o
drivers/**/*.cmd
drivers/**/*.o.cmd
drivers/**/*.symvers
drivers/**/*.order
drivers/**/*.ko
drivers/**/*.mod.c
drivers/**/.tmp_versions/

user/**/
!user/**/*.cpp
!user/**/*.h
!user/**/Makefile
